@model IEnumerable<TasksWeb.Models.TaskModel>

@{
    ViewData["Title"] = "Index";
}

<h1>CREATE AND VISUALIZE TASK</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<div class="tasks">
    @foreach (var task in Model) {
        <div class="task">
            <div class="task-info">
                <p> <strong>@Html.DisplayNameFor(model => model.Title)</strong>: @Html.DisplayFor( taskItem => task.Title)</p>
                <p> <strong>@Html.DisplayNameFor(model => model.Author)</strong>: @Html.DisplayFor( taskItem => task.Author)</p>
                <p> <strong>@Html.DisplayNameFor(model => model.Content)</strong>: @Html.DisplayFor( taskItem => task.Content)</p>
                <p> <strong>@Html.DisplayNameFor(model => model.CreatedOn)</strong>: @Html.DisplayFor( taskItem => task.CreatedOn)</p>
            </div>

            <div class="task-btn">
                <a asp-action="Edit" asp-route-id="@task.Id" class="btn btn-secondary">Edit</a>
                <a asp-action="Details" asp-route-id="@task.Id" class="btn btn-info">Details</a>
                <a asp-action="Delete" asp-route-id="@task.Id" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
</div>

